{%extends "base.html"%}
{%block content%}
<legend style="align-self: center;">
    <div class="content-section" style="background-color: blue;">
            <fieldset style="text-align: center; margin: 2 auto; border: red;">
                <form method="post">
                    {%csrf_token%}
            
                 {{form.as_p}}
            </fieldset>
            <div style="text-align: center;" ><button type="submit">Login</button><br></form></div>
        </div>
    </div></legend>
    {% endblock content %}
             
            
            
            
                
                