<!DOCTYPE html>
<html>
    <title> DELETE Product no. {{object.pk}} </title>
    <body style="background-color: gray;">
        {%if messages%}
            {%for message in messages%}
           <div style="text-align: center; border: solid blue; background-color: red; border-radius: 400px;">{{message}}</div>
           {%endfor%}
           {%endif%}
        
   
    <legend>
<div class="content-section" style="text-align: center; border-color: red;border-width: 45px; "  >
        <fieldset >
            <form method="post">
                {%csrf_token%}
        
             {{form.as_p}}
        
        
        
            
            
        </fieldset>
        <h3>ARE YOU SURE YOU WANT TO REMOVE THE PRODUCT</h3>
        <div><button type="submit"> YES,DELETE</button><br></form></div>
    
         <H3><a href="{% url 'AppHome' %}"> NO</a></H3>
        </div>
    </legend>
</body>
    </html>
