<DOCTYPE html> <html>
    <title>
        product page

    </title>
    <body style="background-color:gray;">
      {%for product in products%} 
      <form method="post">
       <fieldset style="display:inline-block;">
       <h3>{{product.item_name}}</h3>
       <p>{{product.item_description}}</p>
     <div> Price: <span style="border: solid blue;">{{product.item_price}}</span></div>
       <img src="" alt="">
       <button value="add to cart" type="button" name="cart_button" >Add to Cart</button><br></form>
       <a href="{% url 'ProductPage' product.id %}">SEE MORE</a>


       </fieldset>
       <br>
       {%endfor%}

    </body>


</html>