<DOCTYPE html> <html>
    <title>
        product page

    </title>
    <body style="background-color:gray;">
       
       <fieldset style="display:inline-block;">
       <h3>{{object.item_name}}</h3>
       
     <div> Price: <span style="border: solid blue;">{{object.item_price}}</span></div>
       <img src="" alt="">
       <button value="add to cart" type="button" >Add to Cart</button><br>
       <a href="{% url 'ProductsPage' %}" >SEE LESS</a>


       </fieldset>
       <br>
       <fieldset><p>{{object.item_description}}</p></fieldset>
       {% if user.is_superuser %}
       <a href="{% url 'ProductUpdatePage' object.pk %}" >UPDATE DETAILS</a><br>
       <a href="{% url 'ProductDeletePage' object.pk %}" >Delete</a>

       {% endif %}

       

    </body>


</html>