<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
</head>
<body style="background-color: gray;">
    {%if messages%}
            {%for message in messages%}
           <div style="text-align: center; border: solid blue; background-color: red; border-radius: 400px;">{{message}}</div>
           {%endfor%}
           {%endif%}

    
    <h2 style="text-align: center;"> WALLET of {{user.username}} </h>
        <h2 style="text-align: center;"> you have {{user.wallet.money}} Money </h>
          <form method="post"><div style="text-align: center;">  {% csrf_token %}
            {{u_form.as_p}}
            {{w_form}} <br>
            <button type="submit">CHANGE</button><br></form></div>
        
        </form>

        <a href="{% url 'AppHome' %}"> Back to home page </a>

            
        </div>

    
</body>
</html>